html {
  overflow-y: scroll;
}

#start1 {
  position: fixed;
  width: 265pt;
  height: 157pt;
  font-family: "Arial-BoldMT";
  align-content: center;
  font-size: 70pt;
  color: rgb(42, 52, 60);
  left: 42.5%;
  top: 10pt;
}

#start2 {
  position: fixed;
  width: 1293pt;
  height: 88pt;
  font-family: "ArialMT";
  align-items: center;
  font-size: 30pt;
  color: rgb(42, 52, 60);
  left: -37%;
  top: 100pt;
}

.header-2-text {
  text-align: center;
}

.look-button {
  text-align: center;
}

.w3-btn {
  position: relative;
  align-content: center;
  width: 140pt;
  height: 80pt;
  left: 15%;
  top: 10pt;
}

.w3-btn:hover {
  cursor: pointer;
}

.search-category {
  position: fixed;
  text-align: center;
  font-size: 30pt;
  font-weight: bolder;
  color: rgb(42, 52, 60);
  top: 30%;
  left: 27%;
}


#travel {
  position: absolute;
  top: 30%;
  left: 12.5%;
  height: 30%;
  width: 50%;
  font-size:20pt;
  font-weight: bold;
  color: white;
}

#cooking {
  position: absolute;
  top: 30%;
  left: 17.5%;
  height: 30%;
  width: 50%;
  font-size:20pt;
  font-weight: bold;
  color: white;
}

#arts {
  position: absolute;
  top: 30%;
  left: 22.5%;
  height: 30%;
  width: 50%;
  font-size:20pt;
  font-weight: bold;
  color: white;
}

#languages {
  position: absolute;
  top: 30%;
  left: 6%;
  height: 30%;
  width: 50%;
  font-size:20pt;
  font-weight: bold;
  color: white;
}

#autobiography {
  position: absolute;
  top: 12.5%;
  left: 3%;
  height: 30%;
  width: 50%;
  font-size:20pt;
  font-weight: bold;
  color: white;
}

#history {
  position: absolute;
  top: 30%;
  left: 20%;
  height: 30%;
  width: 50%;
  font-size:20pt;
  font-weight: bold;
  color: white;
}

#go-to-main {
  position: fixed;
  width: 160pt;
  height: 100pt;
  left: 40%;
  top: 225pt;
  font-weight: bold;
  background-color: rgb(2, 147, 71);
}

#travel-btn {
  position: fixed;
  background-color: rgb(2, 147, 71);
  left: 20%;
  top: 42%;
}

#cooking-btn {
  position: fixed;
  background-color: rgb(2, 147, 71);
  left: 40%;
  top: 42%;
}

#arts-btn {
  position: fixed;
  background-color: rgb(2, 147, 71);
  left: 60%;
  top: 42%;
}

#language-btn {
  position: fixed;
  background-color: rgb(2, 147, 71);
  left: 20%;
  top: 60.5%;
}

#bio-btn {
  position: fixed;
  background-color: rgb(2, 147, 71);
  left: 40%;
  top: 60.5%;
}

#history-btn {
  position: fixed;
  background-color: rgb(2, 147, 71);
  left: 60%;
  top: 60.5%;
}

a {
  font-size: 40pt;
  position:relative;
}

a:hover {
  cursor: pointer;
}

#search-header1 {
  font-size: 27pt;
  position: fixed;
  text-align: center;
  font-weight: bold;
  left: 39%;
  top: 3%;
  color: rgb(42, 52, 60);
  font-family: "Arial-BoldMT";
}

#search-header2 {
  font-size: 27pt;
  width:auto;
  height:auto;
  position: fixed;
  text-align:left;
  font-weight: bold;
  left: 28.5%;
  top: 32%;
  color: rgb(42, 52, 60);
  font-family: "Arial-BoldMT";
}

#search-box {
  width: 365pt;
  height: 50pt;
  position: fixed;
  top: 13%;
  left: 20%;
  border: 1px solid;
}

#submit-box {
  position: fixed;
  width: 63pt;
  height: 50pt;
  left: 518pt;
  top: 13%;
  background-color: rgb(2, 146, 71);
}

#scroll-box {
  position: fixed;
  top: 65pt;
  left: 8%;
  height: 200pt;
  width: 615pt;
  max-height: 200pt;
  max-width: 615pt;
  overflow-y: scroll;
  border: 1px solid;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow:: 0 0 1px rgba(255,255,255,.5);
}

.term-results {
  position: relative;
  width: 600pt;
}

/*#scroll2 {
  position: fixed;
  left: 87.5%;
  top: 9.75%;
  height: 285pt;
  max-width: 70pt;
  max-height: 285pt;
  overflow-y: scroll;
}*/

#book-indicator {
  position: relative;
  width: 2pt;
  height: 53.5pt;
  left: 0%;
  top: -3pt;
}

#column-span {
  position: relative;
  width: 100pt;
}

#span-author {
  width: 475pt;
}

#choose-book {
  position: relative;
  width: 65pt;
  height: 53.5pt;
  left: 0%;
  top: 0%;
  max-height: 285pt;
  background-color: rgb(2, 146, 71);
}

input::placeholder {
  font-size: 20pt;
}

input[type="text"] {
  font-size: 20pt;
}

#search-for-category {
  position: fixed;
  text-align: relative;
  font-family: "ArialMT";
  color: rgb(42, 52, 60);
  top: 10pt;
  left: 4%;
  font-size: 35pt;
}

#search-result {
  font-size: 27pt;
  position: fixed;
  top: 3%;
  left: 15.5%;
  font-family: "ArialMT";
  color: rgb(42, 52, 60);
}

#advice1 {
  position: fixed;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  top: 12.5%;
  left: 27.5%;
  font-family: "ArialMT";
  color: rgb(42, 52, 60);
}

#advice2 {
  position: fixed;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  top: 12.5%;
  left: 40%;
  font-family: "ArialMT";
  color: rgb(42, 52, 60);
}

/*
.result-boxes {
  position: sticky;
  width: 450pt;
  top: 0%;
  left: 0%;
  margin: 5pt;
  overflow-y: scroll;
}*/

#look-for-book {
  position: fixed;
  text-align: relative;
  font-family: "ArialMT";
  color: rgb(42, 52, 60);
  top: 10pt;
  left: 7.5%;
  font-size: 35pt;
}

#no-guidance {
  position: absolute;
  align-items: center;
  width: 70pt;
  height: 25pt;
  left: 27.5%;
  top: 55%;
}

#yes-guidance {
  position: absolute;
  top: 30%;
  left: 15%;
  height: 30%;
  width: 50%;
  font-weight:inherit;
}

#no-sign {
  position: absolute;
  align-items: center;
  width: 70pt;
  height: 25pt;
  left: 27.5%;
  top: 55%;
  color: rgb(255, 255, 255);
}

#back-to-main {
  position: fixed;
  width: 160pt;
  height: 100pt;
  left: 60pt;
  top: 284.5pt;
  font-family: "Arial-BoldMT";
  font-weight: bold;
  font-size: 30pt;
  background-color: rgb(0, 114, 188);
  color: rgb(255, 255, 255);
}

#back-to-main2 {
  position: fixed;
  width: 160pt;
  height: 100pt;
  left: 27.5%;
  top: 200pt;
  font-weight: bold;
  font-size: 30pt;
  background-color: rgb(0, 114, 188);
  color: rgb(255, 255, 255);
}

#no-sign2 {
  position: fixed;
  align-items: center;
  width: 70pt;
  height: 25pt;
  left: 105pt;
  top: 340pt;
}

#no-sign3 {
  position: fixed;
  width: 160pt;
  height: 100pt;
  left: 27.5%;
  top: 200pt;
  font-weight: bold;
  font-size: 30pt;
  background-color: rgb(0, 114, 188);
  color: rgb(255, 255, 255);
}

#yes-sign {
  position: fixed;
  width: 160pt;
  height: 100pt;
  left: 51%;
  top: 200pt;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30pt;
  background-color: rgb(2, 147, 71);
}

#yes-sign2 {
  position: fixed;
  width: 160pt;
  height: 100pt;
  left: 51%;
  top: 200pt;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30pt;
  background-color: rgb(2, 147, 71);
}

#yes-child {
  position: absolute;
  top: 25%;
  left: 7%;
  height: 30%;
  width: 50%;
  color: white;
}

#child-to-main {
  position: absolute;
  top: 32%;
  left: 2.5%;
  height: 30%;
  width: 50%;
  font-size: 23pt;
  color: white;
}

#child-to-book2 {
  position: absolute;
  top: 25%;
  left: 7%;
  height: 30%;
  width: 50%;
  font-size: 30pt;
  color: white;
}

#lookright {
  position: fixed;
  font-size: 60pt;
  font-weight: bold;
  text-align: center;
  top: 40pt;
  left: 18.5%;
  color: rgb(42, 52, 60);
}

#lookleft {
  position: fixed;
  font-size: 60pt;
  font-weight: bold;
  text-align: center;
  top: 40pt;
  left: 18.5%;
  color: rgb(42, 52, 60);
}

#lookboth {
  position: fixed;
  font-size: 60pt;
  font-weight: bold;
  text-align: center;
  top: 40pt;
  left: 26.5%;
  color: rgb(42, 52, 60);
}

#showtheway {
  position: fixed;
  font-size: 60pt;
  font-weight: bold;
  text-align: center;
  top: 40pt;
  left: 32.5%;
  color: rgb(42, 52, 60);
}

#leftarrow {
  position: fixed;
  top: 250pt;
  left: 255pt;
}

#rightarrow {
  position: fixed;
  top: 250pt;
  left: 262pt;
}

#uparrow {
  position: fixed;
  top: 160pt;
  left: 312pt;
}

#leftrightarrow {
  position: fixed;
  top: 250pt;
  left: 76pt;
}

#going-home1 {
  position: fixed;
  font-size: 70pt;
  font-family: "Arial-BoldMT";
  position: fixed;
  text-align: center;
  font-weight: bold;
  top: -5%;
  left: 31%;
  color: rgb(42, 52, 60);

}

#going-home2 {
  position: fixed;
  font-size: 35pt;
  font-family: "ArialMT";
  position: fixed;
  text-align: center;
  font-weight: lighter;
  color: rgb(42, 52, 60);
  top: 70pt;
  left: 13.5%;
}

#home-pic {
  position: fixed;
  left: 30.5%;
  top: 155pt;
}

form {
  position: relative;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}


#spinner {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.9);
    z-index:9999;
    display:none;

}

#spinner::after {
    content:'Searching for results...';
    text-align: center;
    display:block;
    font-size: 50pt;
    position:absolute;
    left: 10%;
    top: 25%;
}


#spinner2 {
    position:fixed;
    text-align: center;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.9);
    z-index:9999;
    display:none;

}

#spinner2::after {
    content:'Please wait a moment...';
    display:block;
    display: -webkit-box;
    display: -ms-flexbox;
    font-size: 50pt;
    position:absolute;
    left:10%;
    top:25%;
}

/*
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

#spinner span{
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#spinner span:nth-child(2) {
  animation-delay: .2s;
}

#spinner span:nth-child(3) {
  animation-delay: .4s;
}
*/

.pagebottom {
  position: fixed;
  top: 85%;
  width: 100%;
  z-index: 3;
}

#oodi-last {
  position: fixed;
  top: 85%;
  left: 0%;
  width: 100%;
  z-index: -99;
}
